{% raw %}
<table id="information-retrieval-corpora-table" class="uk-margin-medium uk-table uk-table-divider uk-table-small sortable targetable">
	<thead>
		<tr>
			<th id="information-retrieval-corpora"/>
			<th colspan="8">
                        Information Retrieval Corpora
                        <a href="#" class="uk-float-right uk-link-reset" data-uk-icon="chevron-up"/>
			</th>
		</tr>
		<tr>
			<th/>
			<th class="header">
				<span>Name</span>
			</th>
			<th class="header">
				<span>Publisher/Creator</span>
			</th>
			<th class="header uk-text-center">
				<span>Year</span>
			</th>
			<th class="header numeric">
				<span>Size&#160;[bytes]</span>
			</th>
			<th class="header numeric">
				<span>Size</span>
			</th>
			<th class="header">
				<span>[units]</span>
			</th>
			<th class="header">
				<span>Default&#160;Task</span>
			</th>
			<th class="header uk-text-right">
				<span>Access</span>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr data-author="henning wachsmuth, manfred stede, roxanne el baff, khalid al-khatib, maria skeppstedt, benno stein" data-keywords="-">
			<td id="arg-microtexts-synthesis-benchmark"/>
			<td>
				<a href="data/arg-microtexts-synthesis-benchmark.html">Arg-Microtexts Synthesis Benchmark</a>
			</td>
			<td>Webis Group</td>
			<td class="uk-text-center">2018</td>
			<td class="numeric">4 MB</td>
			<td class="numeric">260</td>
			<td>arguments</td>
			<td>Computational Argumentation</td>
			<td class="uk-text-right">
				<a title="Download: Zenodo" href="https://doi.org/10.5281/zenodo.3973270" class="uk-link-reset">
					<img src="img/zenodo-icon.png" alt="Zenodo"/>
				</a>
			</td>
		</tr>
		<tr data-author="yamen ajjour, henning wachsmuth, johannes kiesel, martin potthast, matthias hagen, benno stein" data-keywords="args, argumentation, argument retrieval, nlp, natural language processing">
			<td id="args-me-corpus"/>
			<td>
				<a href="data/args-me-corpus.html">args.me corpus</a>
			</td>
			<td>Webis Group</td>
			<td class="uk-text-center">2019</td>
			<td class="numeric">876 MB</td>
			<td class="numeric">388K</td>
			<td>arguments</td>
			<td>Computational Argumentation</td>
			<td class="uk-text-right">
				<a title="Download: Zenodo" href="https://doi.org/10.5281/zenodo.3274635" class="uk-link-reset">
					<img src="img/zenodo-icon.png" alt="Zenodo"/>
				</a>
				<a title="Indexed: Google" href="https://toolbox.google.com/datasetsearch/search?query=args-me-corpus" class="uk-link-reset">
					<img src="img/google-icon.png" alt="Google Dataset Search"/>
				</a>
			</td>
		</tr>
		<tr data-author="henning wachsmuth, shahbaz syed, benno stein" data-keywords="-">
			<td id="arguana-counterargs"/>
			<td>
				<a href="data/arguana-counterargs.html">ArguAna Counterargs</a>
			</td>
			<td>Webis Group</td>
			<td class="uk-text-center">2018</td>
			<td class="numeric">106 MB</td>
			<td class="numeric">7K</td>
			<td>arguments</td>
			<td>Computational Argumentation</td>
			<td class="uk-text-right">
				<a title="Download: Zenodo" href="https://doi.org/10.5281/zenodo.3973257" class="uk-link-reset">
					<img src="img/zenodo-icon.png" alt="Zenodo"/>
				</a>
			</td>
		</tr>
		<tr data-author="henning wachsmuth, martin trenkmann, benno stein, gregor engels, tsvetomira palakarska" data-keywords="-">
			<td id="arguana-tripadvisor"/>
			<td>
				<a href="data/arguana-tripadvisor.html">ArguAna TripAdvisor</a>
			</td>
			<td>Webis Group &amp; FG Engels</td>
			<td class="uk-text-center">2014</td>
			<td class="numeric">283 MB</td>
			<td class="numeric">2K</td>
			<td>reviews</td>
			<td>Sentiment Analysis</td>
			<td class="uk-text-right">
				<a title="Download: Zenodo" href="https://doi.org/10.5281/zenodo.3973240" class="uk-link-reset">
					<img src="img/zenodo-icon.png" alt="Zenodo"/>
				</a>
			</td>
		</tr>
	</tbody>


{% endraw %}