{% raw %}
<main class="uk-section uk-section-default">
    <div class="uk-container">
      <h1>Events</h1>
  
      <ul class="uk-list">
        
      </ul>
    </div>
  
    <div class="uk-container uk-margin-medium">
      <div id="search-control">
        <input type="text" class="uk-input" id="filter-field" placeholder="Type here to filter&hellip;"/>
      </div>
    </div>
  
    <div class="uk-container uk-margin-medium">
      
      <div class="webis-paragraphs">
        <h2><a id="Conferences and Distinguished Workshops"></a>Conferences and Distinguished Workshops</h2>
        
        <a id=""></a>
        <p data-author="">
          <a href="https://recap.uni-trier.de/2022-tmg-workshop/" title="TMG 2022 @ KI 2022">TMG 2022 @ KI 2022</a>
          
          <br>"1st Workshop on Text Mining and Generation (TMG)", held in conjunction with the 45th German Conference on Artifical Intelligence (KI 2022), co-organized by Alexander Bondarenko and Shahbaz Syed. Goal: bridging the gap between text mining (knowledge extraction) and text generation.
          
        </p>
        
        <a id=""></a>
        <p data-author="">
          <a href="https://argmining19.webis.de/" title="ArgMining 2019 @ ACL 2019">ArgMining 2019 @ ACL 2019</a>
          
          <br>"6th Workshop on Argument Mining", held in conjunction with the 57th Annual Meeting of the Association for Computational Linguistics (ACL 2019), and chaired by Benno Stein and Henning Wachsmuth. Goal: foster future research and development in the area of computational argument mining. [<a href="publications.html#stein_2019">proceedings</a>]
          
        </p>
        
      </div>
      
      <div class="webis-paragraphs">
        <h2><a id="Dagstuhl Seminars"></a>Dagstuhl Seminars</h2>
        
        <a id=""></a>
        <p data-author="" data-keywords="framing">
          <a href="https://www.dagstuhl.de/22432" title="Towards a Unified Model of Scholarly Argumentation @ Schloss Dagstuhl 2022">Towards a Unified Model of Scholarly Argumentation @ Schloss Dagstuhl 2022</a>
          
          <br>Dagstuhl Seminar 22432 "Towards a Unified Model of Scholarly Argumentation", to be organized by Khalid Al-Khatib, Anita de Waard, Iryna Gurevych, and Yufang Hou in 2022. Goal: bring together researchers from different disciplines to discuss the state of the art in scholarly argumentation and identify new directions for future research.
          
        </p>
        
        <a id=""></a>
        <p data-author="" data-keywords="digital humanities, computational linguistics">
          <a href="https://www.dagstuhl.de/19442" title="Digital Humanities and Computational Linguistics @ Schloss Dagstuhl 2020">Digital Humanities and Computational Linguistics @ Schloss Dagstuhl 2020</a>
          
          <br>Dagstuhl Seminar 19442 "Digital Humanities and Computational Linguistics", organized by Martin Potthast and Benno Stein in 2020. Goal: bring together researchers from different disciplines to discuss the intersection of digital humanities and computational linguistics, and identify new directions for future research.
          
        </p>
        
      </div>
      
    </div>
  </main>
{% endraw %}