{% raw %}


  <div id="Glaser" class="entry">
    <div class="image people-image">
      <img src="people/img/Glaser.jpg" alt=" Nadin Glaser" />
    </div>
    <div class="description">
      <p> Nadin Glaser</p>
      <span uk-icon="mail"></span>&nbsp;nadin.glaser@uni-weimar.de
      <br>
      <span uk-icon="location"></span>&nbsp;Bauhaus-Universität Weimar
      <br>
      <p class="information">
        Interests: 
      </p>
    </div>
  </div>

  <div id="Hansens" class="entry">
    <div class="image people-image">
      <img src="people/img/Hansens.jpg" alt=" Maria-Theresa Hansens" />
    </div>
    <div class="description">
      <p> Maria-Theresa Hansens</p>
      <span uk-icon="mail"></span>&nbsp;maria-theresa.hansens@uni-weimar.de
      <br>
      <span uk-icon="location"></span>&nbsp;Bauhaus-Universität Weimar
      <br>
      <p class="information">
        Interests: 
      </p>
    </div>
  </div>

  <div id="Thielken" class="entry">
    <div class="image people-image">
      <img src="people/img/Thielken.jpg" alt=" Emmely Thielken" />
    </div>
    <div class="description">
      <p> Emmely Thielken</p>
      <span uk-icon="mail"></span>&nbsp;emmely.kornelia.thielken@uni-weimar.de
      <br>
      <span uk-icon="location"></span>&nbsp;Bauhaus-Universität Weimar
      <br>
      <p class="information">
        Interests: 
      </p>
    </div>
  </div>

  <div id="Ajjour" class="entry">
    <div class="image people-image">
      <img src="people/img/Ajjour.jpg" alt=" Yamen Ajjour" />
    </div>
    <div class="description">
      <p> Yamen Ajjour</p>
      <span uk-icon="mail"></span>&nbsp;yamen.ajjour@uni-weimar.de
      <br>
      <span uk-icon="location"></span>&nbsp;Bauhaus-Universität Weimar
      <br>
      <p class="information">
        Interests: Natural Language Processing, Information Retrieval
      </p>
    </div>
  </div>

  <div id="Al-Khatib" class="entry">
    <div class="image people-image">
      <img src="people/img/Al-Khatib.jpg" alt="Dr. Khalid Al-Khatib" />
    </div>
    <div class="description">
      <p>Dr. Khalid Al-Khatib</p>
      <span uk-icon="mail"></span>&nbsp;khalid.alkhatib@uni-weimar.de
      <br>
      <span uk-icon="location"></span>&nbsp;Bauhaus-Universität Weimar
      <br>
      <p class="information">
        Interests: Natural Language Processing, Information Retrieval, Computational Social Science
      </p>
    </div>
  </div>

  <div id="Anderka" class="entry">
    <div class="image people-image">
      <img src="people/img/Anderka.jpg" alt="Dr. Maik Anderka" />
    </div>
    <div class="description">
      <p>Dr. Maik Anderka</p>
      <span uk-icon="mail"></span>&nbsp;maik@anderka.com
      <br>
      <span uk-icon="location"></span>&nbsp;Diebold Nixdorf
      <br>
      <p class="information">
        Interests: Machine Learning, Data Mining, Measuring Quality of Web Content, Semantic Retrieval Models
      </p>
    </div>
  </div>

  <div id="Balzer" class="entry">
    <div class="image people-image">
      <img src="people/img/Balzer.jpg" alt=" Heinrich Balzer" />
    </div>
    <div class="description">
      <p> Heinrich Balzer</p>
      <span uk-icon="mail"></span>&nbsp;hbalzer@dspace.de
      <br>
      <span uk-icon="location"></span>&nbsp;dSPACE GmbH
      <br>
      <p class="information">
        Interests: Diagnosis of Technical Systems
      </p>
    </div>
  </div>

  <div id="Barrón-Cedeño" class="entry">
    <div class="image people-image">
      <img src="people/img/Barrón-Cedeño.jpg" alt="Dr. Alberto Barrón-Cedeño" />
    </div>
    <div class="description">
      <p>Dr. Alberto Barrón-Cedeño</p>
      <span uk-icon="mail"></span>&nbsp;
      <br>
      <span uk-icon="location"></span>&nbsp;Department of Interpreting and Translation, Università di Bologna
      <br>
      <p class="information">
        Interests: Multilingual Text Analysis
      </p>
    </div>
  </div>

  <div id="Bevendorff" class="entry">
    <div class="image people-image">
      <img src="people/img/Bevendorff.jpg" alt=" Janek Bevendorff" />
    </div>
    <div class="description">
      <p> Janek Bevendorff</p>
      <span uk-icon="mail"></span>&nbsp;janek.bevendorff@uni-weimar.de
      <br>
      <span uk-icon="location"></span>&nbsp;Bauhaus-Universität Weimar
      <br>
      <p class="information">
        Interests: Natural Language Processing, Machine Learning, Information Retrieval, Data Science, Elasticsearch, Software Engineering, Linux Cluster
      </p>
    </div>
  </div>

  <div id="Braslavski" class="entry">
    <div class="image people-image">
      <img src="people/img/Braslavski.jpg" alt="Dr. Pavel Braslavski" />
    </div>
    <div class="description">
      <p>Dr. Pavel Braslavski</p>
      <span uk-icon="mail"></span>&nbsp;pbras@yandex.ru
      <br>
      <span uk-icon="location"></span>&nbsp;Combinatorial Algebra Lab, Ural Federal University
      <br>
      <p class="information">
        Interests: Search Query Log Ananlysis
      </p>
    </div>
  </div>

  <div id="Bunte" class="entry">
    <div class="image people-image">
      <img src="people/img/Bunte.jpg" alt=" Andreas Bunte" />
    </div>
    <div class="description">
      <p> Andreas Bunte</p>
      <span uk-icon="mail"></span>&nbsp;andreas.bunte@hs-owl.de
      <br>
      <span uk-icon="location"></span>&nbsp;
      <br>
      <p class="information">
        Interests: Knowledge-based Modeling of Cyber-Physical Systems, Model-Based Diagnosis
      </p>
    </div>
  </div>

  <div id="Burrows" class="entry">
    <div class="image people-image">
      <img src="people/img/Burrows.jpg" alt="Dr. Steven Burrows" />
    </div>
    <div class="description">
      <p>Dr. Steven Burrows</p>
      <span uk-icon="mail"></span>&nbsp;stevenburrows81@gmail.com
      <br>
      <span uk-icon="location"></span>&nbsp;Computer Power Institute, Melbourne, Australia
      <br>
      <p class="information">
        Interests: Data Mining, Machine Learning, Digital Engineering, Natural Language Processing, Paraphrasing
      </p>
    </div>
  </div>

  <div id="Chen" class="entry">
    <div class="image people-image">
      <img src="people/img/Chen.jpg" alt=" Wei-Fan Chen" />
    </div>
    <div class="description">
      <p> Wei-Fan Chen</p>
      <span uk-icon="mail"></span>&nbsp;cwf@mail.uni-paderborn.de
      <br>
      <span uk-icon="location"></span>&nbsp;Paderborn University
      <br>
      <p class="information">
        Interests: Natural Language Processing, Deep Learning, Computer Assisted Language Learning
      </p>
    </div>
  </div>

  <div id="El Baff" class="entry">
    <div class="image people-image">
      <img src="people/img/El Baff.jpg" alt=" Roxanne El Baff" />
    </div>
    <div class="description">
      <p> Roxanne El Baff</p>
      <span uk-icon="mail"></span>&nbsp;roxanne.el.baff@uni-weimar.de
      <br>
      <span uk-icon="location"></span>&nbsp;
      <br>
      <p class="information">
        Interests: Computational Argumentation
      </p>
    </div>
  </div>

  <div id="Ferretti" class="entry">
    <div class="image people-image">
      <img src="people/img/Ferretti.jpg" alt="Dr. Edgardo Ferretti" />
    </div>
    <div class="description">
      <p>Dr. Edgardo Ferretti</p>
      <span uk-icon="mail"></span>&nbsp;
      <br>
      <span uk-icon="location"></span>&nbsp;Universidad Nacional de San Luis, Argentina
      <br>
      <p class="information">
        Interests: Wikipedia Quality Analysis
      </p>
    </div>
  </div>

  <div id="Frey" class="entry">
    <div class="image people-image">
      <img src="people/img/Frey.jpg" alt=" Astrid Frey" />
    </div>
    <div class="description">
      <p> Astrid Frey</p>
      <span uk-icon="mail"></span>&nbsp;
      <br>
      <span uk-icon="location"></span>&nbsp;
      <br>
      <p class="information">
        Interests: Statistical Methods, Artificial Intelligence
      </p>
    </div>
  </div>

  <div id="Göring" class="entry">
    <div class="image people-image">
      <img src="people/img/Göring.jpg" alt=" Steve Göring" />
    </div>
    <div class="description">
      <p> Steve Göring</p>
      <span uk-icon="mail"></span>&nbsp;stg7@gmx.de
      <br>
      <span uk-icon="location"></span>&nbsp;
      <br>
      <p class="information">
        Interests: Databases, Big Data, Math
      </p>
    </div>
  </div>

  <div id="Gollub" class="entry">
    <div class="image people-image">
      <img src="people/img/Gollub.jpg" alt=" Tim Gollub" />
    </div>
    <div class="description">
      <p> Tim Gollub</p>
      <span uk-icon="mail"></span>&nbsp;tim.gollub@uni-weimar.de
      <br>
      <span uk-icon="location"></span>&nbsp;Bauhaus-Universität Weimar
      <br>
      <p class="information">
        Interests: Digital Humanities, Information Retrieval, Web Technologies
      </p>
    </div>
  </div>

  <div id="Hagen" class="entry">
    <div class="image people-image">
      <img src="people/img/Hagen.jpg" alt="Prof. Dr. Matthias Hagen" />
    </div>
    <div class="description">
      <p>Prof. Dr. Matthias Hagen</p>
      <span uk-icon="mail"></span>&nbsp;matthias.hagen@informatik.uni-halle.de
      <br>
      <span uk-icon="location"></span>&nbsp;Martin-Luther-Universität Halle-Wittenberg
      <br>
      <p class="information">
        Interests: Information Retrieval, Natural Language Processing, Data Analytics and Mining
      </p>
    </div>
  </div>

  <div id="Hoppe" class="entry">
    <div class="image people-image">
      <img src="people/img/Hoppe.jpg" alt=" Dennis Hoppe" />
    </div>
    <div class="description">
      <p> Dennis Hoppe</p>
      <span uk-icon="mail"></span>&nbsp;dennis@dennis-hoppe.com
      <br>
      <span uk-icon="location"></span>&nbsp;
      <br>
      <p class="information">
        Interests: Data Mining, Recommender Systems, Patent Retrieval
      </p>
    </div>
  </div>

  <div id="Kiesel" class="entry">
    <div class="image people-image">
      <img src="people/img/Kiesel.jpg" alt=" Johannes Kiesel" />
    </div>
    <div class="description">
      <p> Johannes Kiesel</p>
      <span uk-icon="mail"></span>&nbsp;johannes.kiesel@uni-weimar.de
      <br>
      <span uk-icon="location"></span>&nbsp;Bauhaus-Universität Weimar
      <br>
      <p class="information">
        Interests: Data Mining, Information Retrieval, Reproducibility
      </p>
    </div>
  </div>

  <div id="Körner" class="entry">
    <div class="image people-image">
      <img src="people/img/Körner.jpg" alt=" Erik Körner" />
    </div>
    <div class="description">
      <p> Erik Körner</p>
      <span uk-icon="mail"></span>&nbsp;erik.koerner@uni-weimar.de
      <br>
      <span uk-icon="location"></span>&nbsp;Bauhaus-Universität Weimar
      <br>
      <p class="information">
        Interests: Information Retrieval, Machine Learning, Natural Language Processing
      </p>
    </div>
  </div>

  <div id="Kolyada" class="entry">
    <div class="image people-image">
      <img src="people/img/Kolyada.jpg" alt=" Nikolay Kolyada" />
    </div>
    <div class="description">
      <p> Nikolay Kolyada</p>
      <span uk-icon="mail"></span>&nbsp;nikolay.kolyada@uni-weimar.de
      <br>
      <span uk-icon="location"></span>&nbsp;Bauhaus-Universität Weimar
      <br>
      <p class="information">
        Interests: Information Retrieval, Natural Language Processing, Software Engineering
      </p>
    </div>
  </div>

  <div id="Lang" class="entry">
    <div class="image people-image">
      <img src="people/img/Lang.jpg" alt=" Kevin Lang" />
    </div>
    <div class="description">
      <p> Kevin Lang</p>
      <span uk-icon="mail"></span>&nbsp;kevin.lang@uni-weimar.de
      <br>
      <span uk-icon="location"></span>&nbsp;Bauhaus-Universität Weimar
      <br>
      <p class="information">
        Interests: 
      </p>
    </div>
  </div>

  <div id="Lipka" class="entry">
    <div class="image people-image">
      <img src="people/img/Lipka.jpg" alt="Dr. Nedim Lipka" />
    </div>
    <div class="description">
      <p>Dr. Nedim Lipka</p>
      <span uk-icon="mail"></span>&nbsp;lipka.nedim@gmail.com
      <br>
      <span uk-icon="location"></span>&nbsp;Adobe Systems Inc.
      <br>
      <p class="information">
        Interests: Text Classification, Computational Learning Theory, Semi-Supervised Learning
      </p>
    </div>
  </div>

  <div id="Meyer" class="entry">
    <div class="image people-image">
      <img src="people/img/Meyer.jpg" alt=" Lars Meyer" />
    </div>
    <div class="description">
      <p> Lars Meyer</p>
      <span uk-icon="mail"></span>&nbsp;lars.meyer@enginsight.com
      <br>
      <span uk-icon="location"></span>&nbsp;Enginsight GmbH
      <br>
      <p class="information">
        Interests: Conversational Search, Virtualized and Distributed Computing
      </p>
    </div>
  </div>

  <div id="Meyer zu Eissen" class="entry">
    <div class="image people-image">
      <img src="people/img/Meyer zu Eissen.jpg" alt="Dr. Sven Meyer zu Eissen" />
    </div>
    <div class="description">
      <p>Dr. Sven Meyer zu Eissen</p>
      <span uk-icon="mail"></span>&nbsp;sven.meyerzueissen@bayer.com
      <br>
      <span uk-icon="location"></span>&nbsp;Bayer Business Services GmbH
      <br>
      <p class="information">
        Interests: Retrieval Models, Web Genre Analysis, Document Categorization, Data Mining, Software Engineering
      </p>
    </div>
  </div>

  <div id="Monroy" class="entry">
    <div class="image people-image">
      <img src="people/img/Monroy.jpg" alt="Dr. Adrian Pastor Lopez Monroy" />
    </div>
    <div class="description">
      <p>Dr. Adrian Pastor Lopez Monroy</p>
      <span uk-icon="mail"></span>&nbsp;
      <br>
      <span uk-icon="location"></span>&nbsp;National Institute of Astrophysics, Optics and Electronics, Mexico
      <br>
      <p class="information">
        Interests: Text Understanding
      </p>
    </div>
  </div>

  <div id="Palakarska" class="entry">
    <div class="image people-image">
      <img src="people/img/Palakarska.jpg" alt=" Tsvetomira Palakarska" />
    </div>
    <div class="description">
      <p> Tsvetomira Palakarska</p>
      <span uk-icon="mail"></span>&nbsp;tsvetomira.palakarska@gmail.com
      <br>
      <span uk-icon="location"></span>&nbsp;
      <br>
      <p class="information">
        Interests: Machine Learning, Information Extraction, Opinion Mining, Sentiment Flow
      </p>
    </div>
  </div>

  <div id="Peter" class="entry">
    <div class="image people-image">
      <img src="people/img/Peter.jpg" alt=" Anne Peter" />
    </div>
    <div class="description">
      <p> Anne Peter</p>
      <span uk-icon="mail"></span>&nbsp;
      <br>
      <span uk-icon="location"></span>&nbsp;
      <br>
      <p class="information">
        Interests: Autorship Analysis, Natural Language Processing, Machine Learning
      </p>
    </div>
  </div>

  <div id="Potthast" class="entry">
    <div class="image people-image">
      <img src="people/img/Potthast.jpg" alt="Junior-Prof. Dr. Martin Potthast" />
    </div>
    <div class="description">
      <p>Junior-Prof. Dr. Martin Potthast</p>
      <span uk-icon="mail"></span>&nbsp;martin.potthast@uni-leipzig.de
      <br>
      <span uk-icon="location"></span>&nbsp;Leipzig University
      <br>
      <p class="information">
        Interests: Information Retrieval, Natural Language Processing, Artificial Intelligence, Crowdsourcing, Reproducibility
      </p>
    </div>
  </div>

  <div id="Prettenhofer" class="entry">
    <div class="image people-image">
      <img src="people/img/Prettenhofer.jpg" alt=" Peter Prettenhofer" />
    </div>
    <div class="description">
      <p> Peter Prettenhofer</p>
      <span uk-icon="mail"></span>&nbsp;peter.prettenhofer@gmail.com
      <br>
      <span uk-icon="location"></span>&nbsp;DataRobot, Inc.
      <br>
      <p class="information">
        Interests: Cross-Lingual Information Retrieval, Information Extraction, Semi-Supervised Learning, Domain Adaptation
      </p>
    </div>
  </div>

  <div id="Stein" class="entry">
    <div class="image people-image">
      <img src="people/img/Stein.jpg" alt="Prof. Dr. Benno Stein" />
    </div>
    <div class="description">
      <p>Prof. Dr. Benno Stein</p>
      <span uk-icon="mail"></span>&nbsp;benno.stein@uni-weimar.de
      <br>
      <span uk-icon="location"></span>&nbsp;Bauhaus-Universität Weimar
      <br>
      <p class="information">
        Interests: Information Retrieval, Machine Learning, Natural Language Processing, Artificial Intelligence
      </p>
    </div>
  </div>

  <div id="Syed" class="entry">
    <div class="image people-image">
      <img src="people/img/Syed.jpg" alt=" Shahbaz Syed" />
    </div>
    <div class="description">
      <p> Shahbaz Syed</p>
      <span uk-icon="mail"></span>&nbsp;shahbaz.syed@uni-leipzig.de
      <br>
      <span uk-icon="location"></span>&nbsp;Leipzig University
      <br>
      <p class="information">
        Interests: Deep Learning, Natural Language Processing, Information Retrieval
      </p>
    </div>
  </div>

  <div id="Trenkmann" class="entry">
    <div class="image people-image">
      <img src="people/img/Trenkmann.jpg" alt=" Martin Trenkmann" />
    </div>
    <div class="description">
      <p> Martin Trenkmann</p>
      <span uk-icon="mail"></span>&nbsp;martin.trenkmann@posteo.de
      <br>
      <span uk-icon="location"></span>&nbsp;
      <br>
      <p class="information">
        Interests: Software Engineering, Heuristic Search, Big Data, Opinion Mining
      </p>
    </div>
  </div>

  <div id="Vöske" class="entry">
    <div class="image people-image">
      <img src="people/img/Vöske.jpg" alt="Dr. Michael Vöske" />
    </div>
    <div class="description">
      <p>Dr. Michael Vöske</p>
      <span uk-icon="mail"></span>&nbsp;michael.voelske@uni-weimar.de
      <br>
      <span uk-icon="location"></span>&nbsp;Bauhaus-Universität Weimar
      <br>
      <p class="information">
        Interests: Information Retrieval, Machine Learning, Data Science
      </p>
    </div>
  </div>

  <div id="Wachsmuth" class="entry">
    <div class="image people-image">
      <img src="people/img/Wachsmuth.jpg" alt="Junior-Prof. Dr. Henning Wachsmuth" />
    </div>
    <div class="description">
      <p>Junior-Prof. Dr. Henning Wachsmuth</p>
      <span uk-icon="mail"></span>&nbsp;henningw@upb.de
      <br>
      <span uk-icon="location"></span>&nbsp;Paderborn University
      <br>
      <p class="information">
        Interests: Computational Argumentation, Natural Language Processing, Artificial Intelligence
      </p>
    </div>
  </div>

  <div id="Warren" class="entry">
    <div class="image people-image">
      <img src="people/img/Warren.jpg" alt="Dr. Robert H. Warren" />
    </div>
    <div class="description">
      <p>Dr. Robert H. Warren</p>
      <span uk-icon="mail"></span>&nbsp;
      <br>
      <span uk-icon="location"></span>&nbsp;Carleton University, Canada (2012). University of Zurich, Switzerland (2010). University of Waterloo, Canada (2009)
      <br>
      <p class="information">
        Interests: Database Integration, Semantic Web
      </p>
    </div>
  </div>

  <div id="Wiegmann" class="entry">
    <div class="image people-image">
      <img src="people/img/Wiegmann.jpg" alt=" Matti Wiegmann" />
    </div>
    <div class="description">
      <p> Matti Wiegmann</p>
      <span uk-icon="mail"></span>&nbsp;matti.wiegmann@uni-weimar.de
      <br>
      <span uk-icon="location"></span>&nbsp;Bauhaus-Universität Weimar
      <br>
      <p class="information">
        Interests: Social Media Analysis, Authorship, Natural Language Processing
      </p>
    </div>
  </div>

  <div id="Wolska" class="entry">
    <div class="image people-image">
      <img src="people/img/Wolska.jpg" alt="Dr. Magdalena Wolska" />
    </div>
    <div class="description">
      <p>Dr. Magdalena Wolska</p>
      <span uk-icon="mail"></span>&nbsp;magdalena.wolska@uni-weimar.de
      <br>
      <span uk-icon="location"></span>&nbsp;Bauhaus-Universität Weimar
      <br>
      <p class="information">
        Interests: Natural Language Processing, Violence Analysis in Text
      </p>
    </div>
  </div>

  <div id="Hareshbhai Bakhda" class="entry">
    <div class="image people-image">
      <img src="people/img/Hareshbhai Bakhda.jpg" alt=" Ruta Hareshbhai Bakhda" />
    </div>
    <div class="description">
      <p> Ruta Hareshbhai Bakhda</p>
      <span uk-icon="mail"></span>&nbsp;ruta.hareshbhai.bakhda@uni-weimar.de
      <br>
      <span uk-icon="location"></span>&nbsp;Bauhaus-Universität Weimar
      <br>
      <p class="information">
        Interests: 
      </p>
    </div>
  </div>

  <div id="Bruder" class="entry">
    <div class="image people-image">
      <img src="people/img/Bruder.jpg" alt=" Alban Bruder" />
    </div>
    <div class="description">
      <p> Alban Bruder</p>
      <span uk-icon="mail"></span>&nbsp;alban.bruder@uni-weimar.de
      <br>
      <span uk-icon="location"></span>&nbsp;Bauhaus-Universität Weimar
      <br>
      <p class="information">
        Interests: 
      </p>
    </div>
  </div>

  <div id="Alfonso" class="entry">
    <div class="image people-image">
      <img src="people/img/Alfonso.jpg" alt=" Sebastian Laverde Alfonso" />
    </div>
    <div class="description">
      <p> Sebastian Laverde Alfonso</p>
      <span uk-icon="mail"></span>&nbsp;sebastian.laverde.alfonso@uni-weimar.de
      <br>
      <span uk-icon="location"></span>&nbsp;Bauhaus-Universität Weimar
      <br>
      <p class="information">
        Interests: 
      </p>
    </div>
  </div>

  <div id="Merchant" class="entry">
    <div class="image people-image">
      <img src="people/img/Merchant.jpg" alt=" Fatema Merchant" />
    </div>
    <div class="description">
      <p> Fatema Merchant</p>
      <span uk-icon="mail"></span>&nbsp;fatema.merchant@uni-weimar.de
      <br>
      <span uk-icon="location"></span>&nbsp;Bauhaus-Universität Weimar
      <br>
      <p class="information">
        Interests: 
      </p>
    </div>
  </div>

  <div id="Satpute" class="entry">
    <div class="image people-image">
      <img src="people/img/Satpute.jpg" alt=" Ankit Suresh Satpute" />
    </div>
    <div class="description">
      <p> Ankit Suresh Satpute</p>
      <span uk-icon="mail"></span>&nbsp;ankit.suresh.satpute@uni-weimar.de
      <br>
      <span uk-icon="location"></span>&nbsp;Bauhaus-Universität Weimar
      <br>
      <p class="information">
        Interests: 
      </p>
    </div>
  </div>

  <div id="Simha" class="entry">
    <div class="image people-image">
      <img src="people/img/Simha.jpg" alt=" Sagar Nagaraj Simha" />
    </div>
    <div class="description">
      <p> Sagar Nagaraj Simha</p>
      <span uk-icon="mail"></span>&nbsp;sagar.nagaraj.simha@uni-weimar.de
      <br>
      <span uk-icon="location"></span>&nbsp;Bauhaus-Universität Weimar
      <br>
      <p class="information">
        Interests: 
      </p>
    </div>
  </div>

  <div id="Tobollik" class="entry">
    <div class="image people-image">
      <img src="people/img/Tobollik.jpg" alt=" Theresa Tobollik" />
    </div>
    <div class="description">
      <p> Theresa Tobollik</p>
      <span uk-icon="mail"></span>&nbsp;theresa.joana.tobollik@uni-weimar.de
      <br>
      <span uk-icon="location"></span>&nbsp;Bauhaus-Universität Weimar
      <br>
      <p class="information">
        Interests: 
      </p>
    </div>
  </div>

{% endraw %}