
            <table class="uk-margin-medium uk-table uk-table-divider uk-table-small sortable targetable">
                <thead>
                <tr>
                    <th id="{{ category_id }}"></th>
                    <th colspan="8">
                        {{ category_name }}
                        <a href="#" class="uk-float-right uk-link-reset" data-uk-icon="chevron-up"></a>
                    </th>
                </tr>
                <tr>
                    <th></th>
                    <th class="header"><span>Name</span></th>
                    <th class="header"><span>Publisher/Creator</span></th>
                    <th class="header uk-text-center"><span>Year</span></th>
                    <th class="header numeric"><span>Size&nbsp;[bytes]</span></th>
                    <th class="header numeric"><span>Size</span></th>
                    <th class="header"><span>[units]</span></th>
                    <th class="header"><span>Default&nbsp;Task</span></th>
                    <th class="header uk-text-right"><span>Access</span></th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>