<main class="uk-section uk-section-default">
    <div class="uk-container">
      <h1>Events</h1>
  
      <ul class="uk-list">
        {% for event_type in event_types %}
        <li><span data-uk-icon="chevron-down"></span> <a href="#{{ event_type }}">{{ event_type }}</a></li>
        {% endfor %}
      </ul>
    </div>
  
    <div class="uk-container uk-margin-medium">
      <div id="search-control">
        <input type="text" class="uk-input" id="filter-field" placeholder="Type here to filter&hellip;"/>
      </div>
    </div>
  
    <div class="uk-container uk-margin-medium">
      {% for event_type, events in events.items() %}
      <div class="webis-paragraphs">
        <h2><a id="{{ event_type }}"></a>{{ event_type }}</h2>
        {% for event in events %}
        <a id="{{ event.id }}"></a>
        <p data-author="{{ event.author }}"{% if event.keywords %} data-keywords="{{ event.keywords }}"{% endif %}>
          {% if event.url %}<a href="{{ event.url }}" title="{{ event.title }}">{% endif %}{{ event.title }}{% if event.url %}</a>{% endif %}
          {% if event.date %}&thinsp;@&thinsp;{{ event.date }}{% endif %}
          <br>{{ event.description }}
          {% if event.proceedings %}[<a href="{{ event.proceedings }}">proceedings</a>]{% endif %}
        </p>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </main>