{%- if entry.fields['editor'] %}{{ entry.fields['editor'] }}, editors.{% endif %}
{%- include 'publications_title.html.jinja2' %},
{%- include 'publications_series.html.jinja2' %}
{%- if entry.fields['publisher'] %} <span class="publisher">{{  entry.fields['publisher'] }}</span>, {% endif %}
{%- include 'publications_date.html.jinja2' %}.
