class="bib-entry {{ entry.type }}"
    {%- if entry.fields.artifacts %} data-artifacts="{{ entry.fields.artifacts }}"{% endif %}
    {%- if entry.fields.data_author %} data-author="{{ entry.fields.data_author }}"{% endif %}
    {%- if entry.fields.bibid %} data-bibid="{{ entry.fields.bibid }}"{% endif %}
    {%- if entry.fields.booktitle %} data-booktitle="{{ entry.fields.booktitle }}"{% endif %}
    {%- if entry.fields.chapter %} data-chapter="{{ entry.fields.chapter }}"{% endif %}
    {%- if entry.type %} data-class="{{ entry.type }}"{% endif %}
    {%- if entry.fields.data_editor %} data-editor="{{ entry.fields.data_editor }}"{% endif %}
    {%- if entry.fields.isbn %} data-isbn="{{ entry.fields.isbn }}"{% endif %}
    {%- if entry.fields.issn %} data-issn="{{ entry.fields.issn }}"{% endif %}
    {%- if entry.fields.journal %} data-journal="{{ entry.fields.journal }}"{% endif %}
    {%- if entry.fields.keywords %} data-keywords="{{ entry.fields.keywords }}"{% endif %}
    {%- if entry.fields.mentor %} data-mentor="{{ entry.fields.mentor }}"{% endif %}
    {%- if entry.fields.month %} data-month="{{ entry.fields.month }}"{% endif %}
    {%- if entry.fields.number %} data-number="{{ entry.fields.number }}"{% endif %}
    {%- if entry.fields.publisher %} data-publisher="{{ entry.fields.publisher }}"{% endif %}
    {%- if entry.fields.school %} data-school="{{ entry.fields.school }}"{% endif %}
    {%- if entry.fields.series %} data-series="{{ entry.fields.series }}"{% endif %}
    {%- if entry.fields.title %} data-title="{{ entry.fields.title }}"{% endif %}
    {%- if entry.fields.type %} data-type="{{ entry.fields.type }}"{% endif %}
    {%- if entry.fields.volume %} data-volume="{{ entry.fields.volume }}"{% endif %}
    {%- if entry.fields.year %} data-year="{{ entry.fields.year }}"{% endif %}
