 {% if entry.fields.publications_href %}<a class="paper" href="{{ entry.fields.publications_href }}">{% endif %}{% if entry.fields.request %}<a class="request" href="mailto:{{ entry.fields.request }}?subject=Request%20file%20of%20publication%20{{ entry.fields.bibid }}">{% endif %}<span class="title">{{ entry.fields.title }}</span>{% if entry.fields.publications_href or entry.fields.request %}</a>{% endif %}
